<?xml version="1.0"?>

<model>
  <name>TurtleBot3(Waffle)</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>

    <name>Melih Erdogan(mlherd)</name>
    <email>h.meliherdogan@gmail.com</email>
  </author>

  <description>
    TurtleBot3 Waffle
  </description>
</model>
