<?xml version="1.0"?>

<model>
  <name>TurtleBot3 World</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    World of TurtleBot3 with ROS symbol
  </description>
</model>
