#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, bool_t

gen = ParameterGenerator()
gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)
exit(gen.generate("nav2_costmap_2d", "nav2_costmap_2d", "GenericPlugin"))
